
<style>
    @media only screen and (max-width: 767px) {
      .author_footer_img {
        display: none;
      }
    }
</style>

<div class="container" style=" background: radial-gradient(circle at 20% 20%,#5183f5 25%,#4640ff 100%);
    box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100,110,140,.4);
    color: hsla(0,0%,100%,.9);
    border-radius: 6px;
    padding: 2rem;
    felx-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 black;">
  <div class="author">
    <img src="{{ 'public/img/post_picture.png' | absolute_url }}" class="author_footer_img" style="float:left; width:110px; margin-right: 20px;">
  </div>
  <div>
    <h3>Author</h3>
    <p>
      Hey, I’m Rahul, a Site Reliability Engineer.
      I write about what I know to help viewers like you. My site has <strong>no ads, sponsors, or bullshit.</strong> If you enjoy my content, please consider supporting what I do!
    </p>
    <script src='https://ko-fi.com/widgets/widget_2.js'></script>
    <script >kofiwidget2.init('Buy me Coffee', '#e02424', 'R6R81NPB1');kofiwidget2.draw();</script>
  </div>
</div>
