<!-- Footer section start -->
<div class="home-four-style">


 <div class="container-fluid">
   <div class="row">
     <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
       <div class="main-right-area" style="margin-top: 50px; padding-top: 0px;">

         <div class='container' style="">

             <div id="footer-home" style="margin-bottom: -40px;">
              <div class="footer-left">
                <a class="footer-link footer-link-left" href="https://ko-fi.com/rahulmahanot">Ko-Fi</a>
               <a class="footer-link footer-link-left" href="{{ 'atom.xml' | absolute_url}}">RSS</a>
             </div>
             <div class="footer-right">
               <a class="footer-link footer-link-right" href="https://github.com/Mahanotrahul"><i class="fa fa-github" style="font-size: 20px;"></i></a>
               <a class="footer-link footer-link-right" href="https://twitter.com/rahulmahanot"><i class="fa fa-twitter" style="font-size: 20px;"></i></a>
             </div>
             </div>
          </div>
       </div>

       <br><br>


     </div>
   </div>
 </div>


</div>

<footer class="footer-section">

  <div class="container text-center">
    <div class="copyright">
TheCodeBoxed &copy;{{ 'now' | date: "%Y" }}
</div>
  </div>
</footer>
