---
layout: default
title: Tales
---

{% assign post = site.posts | sort: 'date' | reverse %}
{% assign tale = site.tales | sort: 'date' | reverse %}
{% assign post1 = post | concat: tale | sort: 'date' | reverse  %}
{% assign posts = post1 | where: "category1", "Tales" %}

<div class='container' style="margin-top: -160px; text-align: left;">
    <div id="home">
      {% include category_container.html %}
      {% if posts.size == 0 %}
      <div>
        <h3> No results found! </h3>
      </div>
      {% else %}
      <!-- <ul style="list-style-type: none;"> -->
        {% for post in posts %}
          <a class="post-list-link" href="{{ post.url | absolute_url }}">
            <div class="post-list">
                <span style="color: rgb(46, 250, 97);">
                  {{ post.date | date: "%B %-d, %Y" }}
                </span>
                <br>
                  <span style="color: rgba(20, 119, 201, 0.85); font-size: 13px;">
                    {{ post.title }}
                  </span>
                <p>
                  {{ post.description }}
                </p>
              </div>
            </a>
          {% endfor %}
      {% endif %}


      <!-- </ul> -->
    </div>
</div>
